<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   
    <test thread-count="5" name="grouping24">
 <groups>
 	<run>
 		<include name="include-group"></include>
 		<exclude name="exclude-group"></exclude>
 	</run>
 </groups>
    <classes> 
      <class name="multiplE.TestBelongsToSingleGroup"/>
    </classes>
  </test>
  
  
  
</suite> 
